.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 60px;
}

.footer__logo {
    display: flex;
    width: 60px;
    height: 60px;
}

.footer__logo img {
    width: 100%;
    height: 100%;
}

.footer__copyright {
    margin-top: 27px;
}

.footer .nav__list {
    flex-direction: column;
    gap: 24px;
    align-items: start;
    padding: 0 40px;
}

