/* hero */
.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


.hero__title {
    color: var(--color-black);
    font-size: 56px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    width: 780px;
    padding: 57px 0;
    margin: 0;
}

.hero__img img {
    width: 460px;
    height: 320px;
    object-fit: cover;
    border-radius: 16px;
}

